.person-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .discounted {
    background-color: #ffe0b3; /* Un color que destaque a las personas con descuento */
  }
  