<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <form #testForm="ngForm" (ngSubmit)="onSubmit(testForm)">
      <p>name</p>
      <input type="text" #nameT="ngModel" name="nameF" ngModel required>
      <div *ngIf="nameT.invalid && nameT.touched" style="color: red">
        THERE IS AN ERROR
      </div>
      <p>{{ nameT.invalid | json }}</p>
      <p>{{ nameT.touched | json }}</p>
      <p>lastName</p>
      <input type="text" ngModel name="lastNameF">
      <p>age</p>
      <input type="text" ngModel name="ageF">
      <p>city</p>
      <input type="text" ngModel name="cityF">
      <p>phone</p>
      <input type="text" ngModel name="phoneF">
      <button type="submit">send data</button>
      <button type="reset">reset</button>
    </form>

    <p>REACTIVE FORM</p>
    <input type="text" [formControl]="scoreControl">
    <button (click)="onPrintScore()">print score</button>

    <p>FORM GROUP</p>
    <form [formGroup]="studentForm">
      <p>name</p>
      <input type="text" [formControlName]="'name'">
      <!-- <div *ngIf="studentForm.get('name')?.errors?.required">
        name is required
      </div> -->
      <div *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched">
        name is required
      </div>
      <button (click)="print()">print name control</button>
      <p>score</p>
      <input type="text" [formControlName]="'score'">
      <p>school</p>
      <input type="text" [formControlName]="'school'">
      <p>proffesor</p>
      <input type="text" [formControlName]="'proffesor'">
      <p>university</p>
      <input type="text" [formControlName]="'university'">
    </form>
    <button (click)="onSendData()" [disabled]="studentForm.invalid">send data</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>