<div [ngClass]="{
    'user-card': password === '123',
    'user-card-black': password === 'hola' 
}">
    <P [ngStyle]="{
        'background-color': password === 'red' ? 'red' : 'yellow' ,
    }">User card Componene</P>
    <p>USER CARD COMPONENT</p>
    <P [class.user-card] = "password === '123'">INPUT NAME: {{ name }}</P>
    <P [style.background-color]="password === 'red' ? 'red' : 'yellow' ">INPUT EMAIL: {{ email }}</P>

    <input type="text" [(ngModel)] = "password">

    <button #buttonShow (click)="showButton = !showButton">show button</button>
    @if (showButton) {
        <button #buttonTest (click)="onSendData()">send data</button>
    }

    <p>Password = {{password}}</p>

    <app-navbar></app-navbar>
    <app-alert></app-alert>
    <app-card></app-card>

</div>