<div [ngClass]="{
    'user-card': password === '123',
    'user-card-black': password === 'hola' 
}">
    <P [ngStyle]="{
        'background-color': password === 'red' ? 'red' : 'yellow' ,
    }">User card Componene</P>
    <p>USER CARD COMPONENT</p>
    <P>INPUT NAME: {{ name }}</P>
    <P [ngClass]="'user-card'">INPUT EMAIL: {{ email }}</P>

    <input type="text" [(ngModel)] = "password">

    <button #buttonShow (click)="showButton = !showButton">show button</button>
    @if (showButton) {
        <button #buttonTest (click)="onSendData()">send data</button>
    }

    


    <p>Password = {{password}}</p>
</div>